{% extends base %}
{% block css_resources %}
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet" type="text/css">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" rel="stylesheet" type="text/css">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{%block js_resources %}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-gl-0.13.0.min.js"></script>
<script type="text/javascript">Bokeh.set_log_level("info");</script>
{% endblock %}
